<?xml version="1.0" encoding="UTF-8"?>

<configuration>

<!--    <appender name="CONSOLE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <encoder>-->
<!--            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger{0}:%line] - %msg%n</pattern>-->
<!--        </encoder>-->
<!--        <prudent>true</prudent>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${CONSOLE_LOG_PATH}/${HOSTNAME}.console-%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
<!--            <maxFileSize>500MB</maxFileSize>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg  %logger{36} [%thread] %-5level%n </pattern>
        </encoder>
    </appender>

    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <minimumEventLevel>INFO</minimumEventLevel>
        <!-- Optionally add an encoder -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg  %logger{36} [%thread] %-5level%n </pattern>
        </encoder>
    </appender>

    <springProfile name="SERVICE">
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="Sentry"/>
        </root>
    </springProfile>

    <springProfile name="LOCAL">
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>

</configuration>
